body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card{
  -webkit-box-shadow: 4px 4px 66px -24px rgba(61,13,61,1);
  -moz-box-shadow: 4px 4px 66px -24px rgba(61,13,61,1);
  box-shadow: 4px 4px 66px -24px rgba(61,13,61,1);
}

.dontOverflow {
  overflow: hidden
}

/*Stuff for Modal */
.hidden {
  visibility: hidden;
}
.hiddenModal * .modalImage {
  opacity: 0;
}
.myModal {
  z-index: 1;
  position: fixed;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.8) !important;
  overflow: auto;
}
.modalImageContainer {
  position: relative;
  margin: auto;
  z-index: 2000 !important;
  background-color: rgba(0,0,0,0.9);
}
.modalImage{
  transition: opacity 350ms ease-in-out;
  opacity: 1;
  width: 100%;
  height: auto;
  z-index: 3 !important;
}

.modalLeft{
  width: 15%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.modalRight{
  width: 15%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.modalRight, .modalLeft {
  transition: background-color 0.15s ease-in;
}

.previous{
  position: relative;
  top: 50%;
  right: 15%;
}
.next {
  position: relative;
  top: 50%;
  left: 15%;
}
.photoModalDetails {
  background-color: white;
}
.detailsButton i {
 color: white;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.col-lg-4 {
  padding-bottom: 15px;
}

.close {
  color: aliceblue;
}

.modal {
  padding-right: 0 !important;
}

.modal-body {
  padding: .2rem;
}

#carouselControls {
  margin-top: -.2rem;
}

.carousel-inner {
  top: -1.5rem;
}

.close {
  position: sticky;
  top: 5%;
  right: 5%;
  z-index: 5000;
}

.tag-searcher {
  position: absolute;
  z-index: 1000;
}

.list-group-item:hover {
  background-color: grey;
}

button.close {
  background-color: blue !important;
  border-radius: 50px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  border-radius: 50px;
  /*background-color: red;*/
}

.pointer {
  cursor: pointer;
}

.src-only {
  margin-left: 5px;
}

.filterControls {
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#my-map {
  margin: auto;
}

.card{
  border: 0;
}

body {
  background-color: #282c34;
}

@media only screen and (min-width: 600px) {
  .modalRight:hover {
    background-image: linear-gradient(to right, rgba(81,87,85,0), rgba(81,87,85,.8));
  }
  .modalLeft:hover {
    background-image: linear-gradient(to left, rgba(81,87,85,0), rgba(81,87,85,.8));
  }
}